<% include ../partials/header %>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->

        
<div class="container">
	<div class="row">
		<h1 class="styledh1">Create a new Book record</h1>

		<div class="styledfrm">
			<form action="/books" method="POST">
				<div class="form-group">
					<label for="name">Name</label>
					<input class="form-control" type="text" name="book[name]" placeholder="Book Name">
				</div>
				<div class="form-group">
					<label for="author">Author</label>
					<input class="form-control" type="text" name="book[author]">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>
			</form>
			<a href="/books">Back</a>
		</div>
	</div>
</div>
<% include ../partials/footer %>