<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Node Library</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Node Library
                </a>
            </div>
            <ul class='nav navbar-nav'>
                <% if (user) { %>
                <li><a href='/books'>Books</a></li>
                <% } %>
                <% if(user && (user.whichUser=='admin')) { %>
                <li><a href='/librarians'>Librarians</a></li>
                <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
			      <% if (!user) { %>
			      	<li><a href="/register">Sign Up</a></li>
			        <li><a href="/login">Login</a></li>
			      <% } else { %>
			      	<li><a href="#"><strong><%=user.name.toUpperCase()%></strong></a></li>
			        <li><a href="/logout">Logout</a></li>
			      <% } %>
		      </ul>
        </div>
    </nav>
    <div class="container">
        <% if (error && error.length > 0) { -%>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } -%>
        <% if (success && success.length > 0) { -%>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } -%>
    </div>